.blog-excerpt{
width:490px;
white-space: normal;
line-height:30px;
}
.blog-excerpt{
  padding-top:10px;
}
.widget-widget-category{
  padding-top:30px;
}
.blog-post-meta{
  padding-top:10px;
}
.text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment-list-panel {
  margin-top: 50px;
}
.comment-btn {
  margin-top: 10px;
  
}
